h1 {
    color: var(--warado-pink);
    font-size: 8vw;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--warado-dark-pink);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    margin: 0;
}