.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {

color: var(--warado-pink);
font-size: 8vw;
font-weight: bold;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: var(--warado-black);
}